.body-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    text-shadow: 2px 2px rgb(218, 214, 214);
}

.body-image img{
    width: 50rem;
    border: 0.2rem solid whitesmoke;
    border-radius: 1rem;
}

.body-text {
    width: 70%;
    padding: 0rem 3rem;
}